:root {
    --primary-color: #7c3aed;
    --off-white: #f3f4f6;
    --dark-gray: #6b7280;
  }
  body {
    font-family: "Montserrat", sans-serif;
    margin: 0px auto;
    max-width: 85%;
    width: 100%;
  }  
  hr {
    margin: 2rem 0rem;
  }
  .container {
    padding: 0rem 1rem;
  }
  